body header div.H1 {
    display: flex;
    justify-content: right;
    align-items: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: -150px;
    padding: 3px;
  
}
div.wrapper #one img {
   width: 250px;
   height:200px; 
}
div.wrapper header div.H1 {
    height: 20px;
    margin-right: 100px;
    font-size: 16px;
   
}

body header aside {
    display: flex;
    justify-content: right;
    align-items: center;
    
}
div.wrapper header aside {
    height: 20px;
   margin-right: 100px;
}
.wrapper header aside input{
    font-size:12px
}
body header a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: 20px;
    background-color: rgb(209, 204, 204);
    outline:invert

}

header {
    background-color: rgb(192, 188, 188);
    width: auto;
    height: 160px;
}
.artikel_container h5 {
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.card_1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-style: oblique;
    width: 30%;
    margin-top: 300px;
    margin-bottom: 300px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 30px;
}

.image_container1 {
    background-color: rgb(243, 193, 54);
    display: flex;
    justify-content: center;
   
}
.image_container1 img {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;

}
.card_2 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-style: oblique;
    width: 30%;
    margin-top: 300px;
    margin-bottom: 300px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 30px;
    
}
.image_container2 {
    background-color: rgb(243, 193, 54);
    display: flex;
    justify-content: center;
}
.image_container2 img {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    }

    .artikel_container {
        display: flex;
        justify-content:space-evenly
    }
    .card_3 {
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 20px;
        font-style: oblique;
        width: 30%;
        margin-top: 300px;
        margin-bottom: 300px;
    
        display: flex;
        flex-direction:column;
        box-shadow: 0 0 30px;
      
       
    }
    .image_container3 {
        background-color: rgb(243, 193, 54);
        display: flex;
        justify-content: space-evenly
        
    }
    .image_container3 img {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: left;
    
    }
    
Footer h6 {
    font-size: 20px;
    width: 400px;
    height: 30px;
  
}

    Footer {
        color: white;
        background-color: rgb(78, 77, 77);
        display: flex;
        justify-content: space-evenly
    }

    .Footer_container {
      width: 1600px;
        display: flex;
      justify-content: space-around;
    }
    
 .Footer_container menu {
    font-size: 20px;
    list-style: none;
    margin-right:100px;
    margin-left: -38px;
 }
.Footer_container h6 {
    font-size: 30px;
    margin-top: 20px;
    
}
a {
    text-decoration: none;
    color: white;
 
}
.Buy{
    border-radius: 5px;
    background-color: black;
    color: white;
    transition: all 0.5s;
    width: 100px;
    height: 35px; 
    cursor: pointer;
    align-self: center;
    margin-top: 35px;
    margin-bottom: 35px;
      }